target/
*.class
*.jar
*.war
*.log

.idea/
*.iml
.vscode/
.settings/
.project
.classpath
.factorypath

.DS_Store
Thumbs.db

# Spring Boot
HELP.md
*.original

# Local override
application-local.yml
application-local.properties
